* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared styles */
.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.btn {
  padding: 12px 16px;
  border: none;
  background-color: #469165;
  font-weight: 600;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #30b869e0;
}
.container-center {
  max-width: 1360px;
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
/* main styles */

header nav {
  display: flex;
  justify-content: space-around;
  padding: 16px 0;
  align-items: center;
}

header nav .menu {
  list-style-type: none;
  display: flex;
  gap: 32px;
}
header nav .menu a {
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: black;
  padding: 12px 16px;
  border-radius: 4px;
}
header nav .menu a:hover {
  background-color: #469165;
  color: rgb(255, 255, 255);
}

/* banner styles */
#banner {
  background-image: url("../assets/hero-bg.png");
  padding-top: 115px;
  padding-bottom: 180px;
  background-size: cover;
}
#banner .banner-container {
  max-width: 770px;
  width: 48%;
  margin: 0 auto;
  text-align: center;
}
#banner .early-access-status {
  padding: 8px 12px;
  background-color: #fff;
  color: #469165;
  border-radius: 30px;
  .fa-solid.fa-circle-dot {
    margin-right: 6px;
  }
}
#banner .banner-heading {
  margin: 20px auto 16px;
  font-size: 72px;
  line-height: 84px;
}
#banner .banner-heading .banner-heading1 {
  color: white;
}
#banner .banner-heading .banner-heading2 {
  color: #30b868;
}
.banner-container p {
  color: white;
  line-height: 24px;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 32px;
}
.banner-container .banner-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
}
.banner-buttons .play-icon {
  border-radius: 4px;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0);
}
.banner-buttons .play-icon img {
  margin: 0 10px 0 0;
}
.play-icon:hover {
  background-color: #30b869e0;
}

/* notes problem section styles */

.notes-problem-container header {
  margin-bottom: 44px;
  padding-top: 44px;
  /* text-align: center; */
}
.notes-problem-container header h2 {
  font-size: 48px;
  color: #001931;
  margin-bottom: 16px;
}
.notes-problem-container header p {
  line-height: 20px;
  color: #61717e;
  font-size: 16px;
}
#notes-problem .cards-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}
#notes-problem .cards-container .card {
  max-width: 322px;
  padding: 24px;
  box-shadow: 0 0 8px 0 #20202029;
  border-radius: 8px;
  text-align: center;
}
.cards-container .card .icon {
  display: inline-block;
  background-color: #f95555;
  padding: 13px 14px;
  border-radius: 50%;
  margin-top: 46px;
}
.cards-container .card .icon img {
  vertical-align: middle;
}
.cards-container .card h3 {
  color: #001931;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}
.cards-container .card p {
  line-height: 20px;
  font-size: 16px;
  color: #627382;
  margin-top: 46px;
}
/* second brain section styles */
#second-brain {
  padding: 120px 0;
}
#second-brain .second-brain-container {
  display: flex;
  align-items: center;
  gap: 60px;
  text-align: left;
}
.second-brain-container-info header {
  max-width: 73%;
}
.second-brain-container header .the-solution-text {
  color: #469165;
  line-height: 20px;
  font-size: 16px;
  font-weight: 500;
}
.second-brain-container header h2 {
  margin: 16px 0;
  font-size: 48px;
  color: #001931;
}
.second-brain-container header h2 + p {
  line-height: 20px;
  font-size: 16px;
  color: #627382;
}

.second-brain-container-info .info-list {
  /* list-style-image: url("../assets/CheckCircle.png"); */
  margin-top: 40px;
}
.second-brain-container .info-list li {
  margin: 16px 0;
  list-style-type: none;
  /* vertical-align: middle; */
  display: flex;
  gap: 6px;
}

.second-brain-container-info .info-list li p {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #001931;
}
.info-list img {
  max-width: 20px;
  max-height: 20px;
}
/* Early Access section */
#early-access .early-access-container {
  margin-bottom: 120px;
  text-align: center;
  padding: 80px 40px;
  background-color: #f7f6f2;
  border-radius: 12px;
}
.early-access-container header h2 {
  font-size: 40px;
  color: #001931;
  margin-bottom: 16px;
}
.early-access-container header p {
  line-height: 24px;
  font-size: 16px;
  color: #627382;
  margin-bottom: 24px;
}
.early-access-container > p {
  margin-top: 16px;
  line-height: 20px;
  font-size: 16px;
  color: #627382;
}
/* footer section style */
footer {
  background-color: #001931;
  padding: 120px 0 30px;
}
.footer-container .footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.footer-content .social {
  text-align: left;
}
.footer-content .social h4 {
  color: white;
  line-height: 28px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-container .social-icons a {
  margin-right: 16px;
}
footer hr {
  border: none;
  background-color: #ffffff36;
  height: 1px;
}

.copy-right-container {
  padding-top: 30px;
}
.copy-right-container p {
  color: #fafafa;
  line-height: 24px;
  font-size: 16px;
}

.btn img {
  vertical-align: middle;
  margin-left: 10px;
}
